[Unit]
Description=MP48 Web Service
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/etc/MP48WebService
ExecStart=/usr/local/bin/MP48WebService
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
Environment="ENCRYPTION_KEY_PATH=/etc/MP48WebService/encryption.key"

[Install]
WantedBy=multi-user.target